# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables (IMPORTANT)
.env
.env.*

# Database Files
*.db
*.sqlite3

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db